<%- partial('_partial/head') %>
 <body>  
  <%- partial('_partial/navigation') %>
  <div class="container">
  	<div class="content">
    	 <%- body %>
	</div>
  </div>
  <div class="container-narrow">
  <footer> <%- partial('_partial/footer') %> </footer>
</div> <!-- container-narrow -->
  <%- partial('_partial/search') %>
  <%- partial('_partial/after_footer') %>

  <div class="article-footer-copyright">

    本博客采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议(CC BY-NC-SA 4.0) 发布.
</div>

</body>

   </html>
